app = "nom-de-votre-app"

[[services]]
  internal_port = 8000
  protocol = "tcp"

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20

  [[services.ports]]
    port = 80
    handlers = ["http"]
  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.http_checks]
    interval = "15s"
    timeout = "2s"
    grace_period = "5s"
    path = "/"
    method = "get"

[build]
  builder = "paketobuildpacks/builder:base"